/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET */

.fl{float:left;}
.fr{float:right;}
.none{float:none;}
.myhide{display:none !important;}
.body_admin{
	font-family: Tahoma;
  font-size: 11px;	
	padding:0px;
	margin:0px;
}


.navbar-header{
	margin-right: -15px !important;
	margin-left: -15px !important;
}
.logo{
	background-image:url('../images/logo-white.png');
	background-size: cover;
	display: inline-block;	width:60px;height:20px;
}
.logo-axs{
	background-image:url('../images/logo.png');
	background-size: cover;
	display: inline-block;	width:60px;height:20px;
}

th { text-align:center; vertical-align:middle!important; }

.loadmain {
  background-image: url(../images/loading.gif) !important;
  background-size: 250px 150px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 150px; width: 150px; padding: 20px; position: fixed;
  top: 50%; left: 50%; margin-top: -75px; margin-left: -75px; z-index: 999999999999999999;
}
.background-load{
  background-color:#f3f3f3;width:100%;height:100%;position: fixed;  top: 0; left: 0; z-index: 999999999999999999; opacity: 0.7;
}

.cover-input-group { margin-bottom:10px; display:inline-block; width:100%; }
.cover-input-group .input-group { margin-right:5px;}
.input-group p { margin-top:5px;}

.tbl_header th{ vertical-align:middle!important; }
.form-submit{display:inline;}

/*
Icon
*/
.checked-icon{
  background-image: url(../images/icon-checking.png); cursor : pointer;
  background-size: 16px 16px;  width: 16px;  height: 16px;  display: block;
}
.x-icon{
  background-image: url(../images/icon-x.png); cursor : pointer;
  background-size: 16px 16px;  width: 16px;  height: 16px;  display: block;
}

.image-add-icon{
	width:200px;
	height:150px;
	cursor:pointer;
}
.image-del-icon{
	width:40px;
	height:40px;
	cursor:pointer;
}
.image-delete:hover{
	border:1px solid red;
}
.image-delete{
	position: absolute;
    top: -10px;
    right: -10px;
}
.display-none{
    display:none !important;
}
.image-upload-placeholder{
	position: relative;
  display: inline-block;
  margin:5px;
  float: left;
}
.block{
	display:block;
}
.inline-block{
	display:inline-block;
	margin-right:20px;
}
.width50{width:50px !important;}
.width100{width:100px !important;}
.width200{width:200px !important;}
.width300{width:300px !important;}
.width400{width:400px !important;}
.width500{width:500px !important;}
.height200{height:200px !important;}
.width1200{width:1200px !important;}
.center{ display:block; margin: 0 auto; }
.textcenter{ text-align:center; }
.nopad{ padding:0 !important; }
.nomargin{ margin:0 !important; }
select.sort-select option{
    font-family: 'calibri';
    font-size: 13.24px;
    padding:3px;
    margin: 0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-bottom: 1px solid #9d9d9d;
    color:#000;
    cursor:pointer;
}
.text-center{ text-align: center; }
select.sort-select{ background: transparent url(../images/arrow-select.png) no-repeat;
    background-position: 93% 50%; }

.sort-select{
    font-family: 'calibri';
    font-size: 13.24;
    padding: 0 3px;
    width: 114px;
    height: 24px;
    margin: 0 0 0 11px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border: 1px solid #9d9d9d;
    color:#000;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.separate{
    margin: 0 0 0 11px;
}
/*
Footer
*/
.footer_container{
  margin-top:20px;
	clear: both;
  border-top: 3px solid #B7C1C4;
  padding: 8px 0 17px 0;
  text-align: center;
}


.column-look{
  width:48%;
  float:left;
  margin-left:15px;
}


.navbar-collapse.collapse{display:block;}
.navbar{ position:relative!important; }
.container{ position:relative; }